*{
    box-sizing: border-box;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --font-family:'Quicksand', sans-serif;
    --back-color:rgb(44, 44, 44);
}
.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .navbar{
    padding:0px 5px;
    height: 50px;
    background-color: var(--back-color);
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: sticky;
    top: 0;
    z-index: 100;

}

.container .navbar .logo{
    color: white;

}
.container .navbar ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
@media (max-width:768px){
    .container .navbar > ul{
        display: none;
    }

}
.container .navbar ul li{
    padding: 0px 10px;
    transition-duration: 1s;
    
}
.container .navbar ul li a{
    color: white;
    text-decoration: none;
    font-family: var(--font-family);
    position: relative;
}
.container .navbar ul li:hover a::after{
    position: absolute;
    bottom: -5px;
    display: block;
    content: '';
    height: 1px;
    animation:1s navit ease both;
    background-color: rgb(255, 255, 255);
}
@keyframes navit{
    0%{width: 0px;}
    100%{width: 100%;}
}
.icon{
    justify-content:end ;
    position: relative;
}
.icon i{
    color: white;
}
.icon button{
    background-color: transparent;
    border: none;
}
.drop-down{
    right: 0;
    top:100%;
    position:absolute;
    background-color: var(--back-color);
    /* display: flex; */
    flex-direction: column;
    display: none !important;
}
.drop-down li {
    margin:10px;
}
.icon:hover .drop-down{
    display: flex !important;
}
.background{
    position: relative;
    height: calc(100vh - 50px);
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.background .article{
}
.background .article h1{
    color: white;
    font-family: var(--font-family);
}
.background .article p{
    float: left;
    padding: 0px;
    font-size: 50px;
    font-weight: 500px;
    color: white;
    font-family: var(--font-family);
    border-right: 1px solid;
    width:14ch;
    margin: 0px auto;
    white-space: nowrap;
    overflow: hidden;
    animation:typing 2.2s steps(14) 1s,blinking 0.5s alternate;
    font-size: 18px;
    word-spacing: 5px;
}
.background .article p::after{
    content: '';
    display: block;
    height: 1px;
    background-color: white;
}
@keyframes typing{
	0% {
		width: 0px;
	}
}
@keyframes blinking{
	50%{
		border-color: transparent;
	}
}
.section{
    background-color: #eee;
    padding: 10px;
    
    
}
.section .inner{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
}
.img{


}
.img img{
   width: 100%;
   height: 100%;
}

.section .about > h1{
    display: inline-block;
    font-size: 25px;
    font-family: var(--font-family);
    color: #5f5f5f;
}
.section .about > h1:after{
    content: '';
    display: block;
    height: 2px;
    background-color: red;
    margin:5px 0px;
}
.section .inner .info{
    padding: 5px;

}
.section .inner .info > h1{
    font-size: 30px;
    font-family: var(--font-family);
    color: #444444;
}
.section .inner .info  p{
    color: #616161;
}

.data{
   margin: 15px 0px;
 

}
.arrow{
    display: inline-block;
    width:10px;
    height: 10px;
    border: solid rgba(255, 0, 0, 0.534);
    border-width: 0px 2px 2px 0px;
    transform: rotate(-45deg);
 

}
.data h1{
    display: inline-block;
    font-size: 20px;
    font-family: var(--font-family);
    color: #444444;
}
.data p{
    display: inline-block;
    margin-left:5px;
}
.skills{
    padding: 10px;
    max-width: 700px;
    margin: auto;
}
.skills .place{
    text-align: center;
}
.skills h1{
    text-align: center;
    display: inline-block;
    color: #444444;
    font-family: var(--font-family);
    
}
.skills h1::after{
    content:'';
    display: block;
    height: 2px;
    background-color: red;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.skills h1:hover::after{
    transform: translate(-20px,-20px) rotate(-90deg) ;
    width:30px;
}
.skill-line{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.sl{
    margin: 10px;
}
.sl p{
    display: inline-block;
    color: #5f5f5f;
    font-family: var(--font-family);
}
.sl .percentage{
    float: right;
}

.line{
    height: 10px;
    display: block;
    background-color: #cacaca;
}
.line1{width: 95%;height:100%;background-color: #f84242;}
.line2{width: 70%;height:100%;background-color: #f84242;}
.line3{width: 65%;height:100%;background-color: #f84242;}
.line4{width: 80%;height:100%;background-color: #f84242;}

/* foooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooter */
.footer{
	height: 700px;
	text-align: center;
    background-color:#eee;

}
.footer .text-area{
	display: inline-block;
    max-width: 90%;
    overflow: none;

}
.footer .text-area p,h1{
	color: #5f5f5f;
	font-family: sans-serif;

}
.footer .text-area .input-area input[type=text-area]{
	color: rgb(73, 31, 31);
	height: 30px;
	border: none;
	border-bottom:1px solid rgb(97, 97, 97);
	outline-style: none;
	background-color: transparent;
}
.footer .text-area .input-area input[type=text-area]::placeholder{
	color: #5f5f5f;
}
.footer .text-area .input-area .icon-area{
	position: relative;
	background-color: red;
	height: 30px;
	display: inline-block;


}
.footer .text-area .input-area .icon-area i{
	position: absolute;
	
	font-size: 20px;
}
.fa-envelope-o{
	color: #5f5f5f;
	bottom: -10px;

}
.icons-bar{
    margin-top: 50px;
    margin-right:10px;
    width: 100%;
}
.icons-bar div{
    background-color: #8585858a;
    display: inline-block;
    width:25px;
    height: 100%;
    border-radius: 15%;
    font-size: 22px;
    margin: 0px 20px;
}
.icons-bar div i{
    color: #ffffff;
    
}
